html * {
    font-family: "Roboto", Arial, sans-serif !important;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(144, 92, 144);
}
.flex-column {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* align-items: flex-end; */
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-row, .bottom-row {
    justify-content: flex-end;
}

.bottom-row {
    justify-content: center;
}

button {
    width: 100px;
    height: 90px;
}

#display {
    height: 50px;
}

button, #display {
    border-radius: 12px;
    border: 4px solid black;
}

button {
    background-color: rgb(217, 143, 74);
    transition: all 0.15s;
}

.transition {
    transform:scale(1.1);
}

#mod, #divide, #multiply,
#subtract, #add, #equals, #clear {
    font-weight: bold;
    font-size: 26px;
    /* background-color: rgb(40, 155, 12); */
    background-color: rgb(205, 73, 68);
    color: white;
    border-color: white;
}
/* * {
    border: 2px solid red;
    box-sizing: border-box;
} */